.bc {
  border: 1px solid black;
}
.bc1 {
  border: 1px solid red;
}
body{
  margin: 0;
}
.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  min-width: 1000px;
}
.table thead {
  color: #fff;
}
.table td {
  border: 1px solid #eee;
  padding: .2rem;
}
.table thead th {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  padding: .2rem;
  font-weight: lighter;
  background-color: #4b4341;
}
.fixed-col {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 150!important;
}
#input-add-role{
  height: 100%;
  width: 98%;
  padding: 5px;
  border: none;
}

input.toggleable-perms.no-show {
  visibility: hidden;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: .3s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  opacity: 1;
  animation-name: fadeOutOpacity;
  animation-timing-function: ease-out;
  animation-duration: .2s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}