.bc {
  border: 1px solid black;
}
.bc1 {
  border: 1px solid red;
}
.table {

}
.table thead {
  background-color: #eee;
}

#input-add-role{
  height: 100%;
  width: 98%;
  padding: 5px;
  border: none;
}

input.toggleable-perms.no-show {
  visibility: hidden;
}